@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Rubik:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins' , sans-serif;
}
body{
    color: black;
    background: white;
}


  
  html {
    font-size: 62.5%;
    overflow-x: hidden;
  }
  html::-webkit-scrollbar {
    width: 0.8rem;
  }
  html::-webkit-scrollbar-track {
    background: rgb(235, 202, 245);
  }
  html::-webkit-scrollbar-thumb {
    background: #420177;
  }
  
  /* pre loader start */
  .loader-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    background: #e6eff1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  .loader-container.fade-out {
    top: -120%;
  }
  /* pre loader end */
  
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.logo{
    position: relative;
    font-size: 35px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    width: 50%;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
.navbar a{
    display: inline-block;
    font-size: 22px;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: calc(.2s * var(--i)); 
}
.navbar a:hover{
    color: white;
}

.home{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: white;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}
.home-content{
    max-width: 600px;
    padding-top: 70px;
}
.home-content h3{
    font-size: 30px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}
.home-content h1{
    font-size: 50px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}
.home-content p{
    font-size: 17px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
    padding-bottom: 19px;
}
.socials {
    position: relative;
    margin-top: 1px;
  }
  .socials .social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  .socials .social-icons li {
    display: inline-block;
    margin-bottom: 14px;
  }
  .social-icons a {
    font-size: 2rem;
    display: inline-block;
    line-height: 44px;
    color: plum;
    background-color: #09011b;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .social-icons a:active,
  .social-icons a:focus,
  .social-icons a:hover {
    color: #fff;
    background-color: #0685da;
  }
  .social-icons a.github:hover {
    background-color: #0e0e0e;
  }
  .social-icons a.twitter:hover {
    background-color: #00aced;
  }
  .social-icons a.linkedin:hover {
    background-color: #007bb6;
  }

  .social-icons a.instagram:hover {
    background-color: #ee00da;
  }
.btn{
    display: inline-block;
    padding: 12px 28px;
    background-color: purple;
    border-radius: 40px;
    font-size: 16px;
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px purple,0 0 25px plum;
}
.btn:hover{
    box-shadow: 0 0 5px plum,
    0 0  25px plum, 0 0 45px plum;
}
.home-content h3:nth-of-type(2){
    margin-bottom: 25px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}
.home-content h3 span{
    color: purple;
    font-size: 35px;
}
.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}
.about-img img{
    padding-bottom: 20%;
    max-width: 630px;
    height: auto;
    width: 100%;
    border-radius: 8px;
}
.home .image {
    flex: 1 1 40rem;
    z-index: 1;
  }
  .home .image img {
    width: 70%;
    margin-left: 6rem;
    border-radius: 50%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  .home .image img:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
.about-text h2{
    font-size: 60px;
    padding-top: 40px;
}
.about-text h2 span{
    color: plum;
}
.about-text h4{
    font-size: 29px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0 30px;
}
.about-text p{
    color: purple;
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 4rem;
    margin-right: 3.8rem;
    line-height: 30px;
}


#services{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}
.sub-title{
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
}
.sub-title span{
    color: purple;
}
.container{
    padding: 90px;
}



section{
    display: flex;
    flex-wrap: wrap;
}
.container1{
    width: 600px;
    height: 500px;
    padding: 75px 90px;
    margin-left: 120px;
}
.heading1{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
}
.bar{
    font-size: 23px;
}
.Technical-bars .bar{
    margin-top: 40px 0;
}
.Technical-bars .bar:first-child{
    margin-top: 0;
}
.Technical-bars .bar:last-child{
    margin-bottom: 0;
}
.Technical-bars .bar .info{
    margin-bottom: 5px;
}
.Technical-bars .bar .info span{
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}
.Technical-bars .bar .progress-line{
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: #000000;
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}
@keyframes animate{
    100%{
        transform: scaleX(1);
    }
}

@keyframes showText{
    100%{
        opacity: 1;
    }
}

.main-text{
    margin-top: 200px;
}
#portfolio{
    width: 100%;
    margin: 0 40px;
}
.main-text h2{
    font-size: 60px;
    line-height: 1;
    text-align: center;
}
.main-text h2 span{
    color: #0ef;
}
.portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    grid-gap: 50px;
    margin-top: 50px;
}
.row{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}
.row img{
    width: 100%;
    height: 500px;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
}



.contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
    margin-top: 1px;
}
.contact-text h2{
    font-size: 70px;
    line-height: 1;
    text-align: center;
    margin-bottom: 40px;
}
.contact-text h2 span{
    color: plum;
}
.contact-text h4{
    margin: 15px 0;
    color: darkblue;
    font-size: 30px;
    font-weight: 600;
}
.contact-text p{
    color: darkgrey;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}
.contact-list{
    margin-bottom: 3rem;
}
.contact-list li{
    margin-bottom: 10px;
    display: block;
    font-size: 18px;
}
.contact-list i{
    display: inline-block;
    color: #0ef;
    font-size: 30px;
    font-weight: 600;
    transition: all .4s ease;
    padding-right: 10px;
}

.contact-icons i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.contact-icons i:hover{
    background: #0ef;
    color: #000;
    box-shadow: 0 0 20px #0ef;
}
.contact-form form{
    position: relative;
}
.contact-form form input,form textarea{
    border: none;
    outline: none;
    width: 90%;
    padding: 18px;
    background: #555557;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}
.contact-form textarea{
    resize: none;
    height: 200px;
}



.last-text p{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: rgb(19, 1, 19);
    font-size: 20px;
    margin-top: 70px;
    color: white;

}
.top{
    position: fixed;
    bottom: 2.1rem;
    right: 2.1rem;
}
.top i{
    color: #000;
    background: #0ef;
    font-size: 20px;
    padding: 10px 13px;
    border-radius: 0.5rem;
}


@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideLeft{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideBottom{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

/* education section starts */
.education {
    background: white;
    min-height: 80px;
  }
  

  .education .box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 15%;
  }
  .education .box-container .box {
    display: flex;
    flex-direction: row;
    width: 80%;
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
    text-align: center;
    align-items: right;
    position: relative;
    margin-top: 2rem;
    overflow: hidden;
    transition: 0.3s;
    background: rgb(252, 252, 252);
    align-self: center;
  }
  .education .box-container .box:hover {
    transform: scale(1.03);
    box-shadow: 1rem 0.5rem 1.2rem rgba(0, 0, 0, 0.3);
  }
  .education .box-container .box .image {
    flex: 1 1 20rem;
    width: 100%;
  }
  .education .box-container .box img {
    object-fit: cover;
    position: relative;
    width: 100%;
    height: 100%;
  }
  .education .box-container .box .content {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    flex-wrap: wrap;
    flex: 1 1 70rem;
  }
  .education .box-container .box .content h3 {
    font-size: 2.5rem;
    color: #012970;
    padding: 0.5rem 0;
    font-weight: 600;
    text-align: left;
    margin-left: 1rem;
  }
  .education .box-container .box .content p {
    font-size: 1.5rem;
    margin-left: 1rem;
    text-align: left;
  }
  .education h4 {
    font-size: 2rem;
    color: rgb(34, 109, 0);
    text-align: left;
    margin: 1rem;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
  }
  
  /* education media queries starts*/
  @media screen and (max-width: 600px) {
    .education .box-container .box {
      flex-direction: column;
      width: 100%;
    }
    .education .box-container .box .image {
      width: 100%;
      height: 25rem;
    }
    .education .box-container .box img {
      width: 100%;
    }
    .education .box-container .box .content {
      position: relative;
      display: flex;
      flex-direction: column;
      padding: 1rem;
      flex-wrap: wrap;
      flex: 0;
    }
    .education .btns {
      margin-top: 2rem;
      margin-left: 1rem;
      margin-right: 1rem;
      flex-wrap: wrap;
    }
  }
  /* education media queries ends*/
 /* Resetting default margin and padding */
* 
  
  
  
  .skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
  }
  
  .skill-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 300px;
  }
  
  .skill-card img {
    max-width: 60%;
    height: auto;
    border-radius: 6px;
    margin-bottom: 15px;
  }
  
  .skill-card h3 {
    font-size: 2.5em;
    margin-bottom: 10px;
  }
  
  .skill-card p {
    color: #666;
    line-height: 1.6;
  }
  